body,
button,
input {
    font-family: "Andale Mono", Arial, sans-serif;
}

body {
    background-color: #feeeff;
}

header {
    background-color: #f700ff;
    color: white;
    padding: 1rem;
    text-align: center;
}

footer {
    background-color: #feeeff;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}

h1 {
    font-size: 3rem;
    text-shadow: 1px 1px 4px #feeeff;
    transform: rotate(-3deg);
}

h2 {
    font-size: 1.5rem;
    color: #0077a5;
}

img:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;

}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    border: 2px solid #f700ff;
    border-radius: 5px;
}

.clothingImage {
    max-width: 100px;
    margin: 5px;
    opacity: .6;
    transition: opacity 0.5s ease-in-out;
}

.clothingImage.show {
    opacity: 1;
}

.button {
    background-color: #f700ff;
    color: #fff;
    padding: 10px 20px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    border: 2px solid #fa77ff;
}

#weatherDisplay,
#clothingRecommendation {
    padding: 20px;
    border: 3px dotted #f700ff;
    margin-top: 20px;
}