<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Project Runwear</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <h1>About Project Runwear</h1>
    </header>
    <main>
        <section>
            <p>I created this site
                because I often can't remember what weather feels like, especially when I'm running and working up a
                sweat. And
                the problem got worse when this Atlanta moved to Brooklyn, and had to figure out what works in longer,
                colder
                winters! I previously kept a note on my phone with outfits at each temperature range, which I would
                consult after checking my local weather. I created this site to save myself a step. :) I'm indebted to
                ___, ___,
                ___, ___, and ___ for their perspective and clothing recommendations.</p>
        </section>
    </main>
    <footer>
        <p><a href="/">Home</a></p>
        <p>&copy; Project Runwear 2024</p>
    </footer>
</body>

</html>