<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <script src="static/geo.js"></script>
    <script src="static/script.js"></script>
</head>

<body>
    <noscript>
        This site requires JavaScript to fetch location and weather details. Make sure that's enabled, then reload. :)
    </noscript>
    <header>header</header>
    <main>
        <h1>What should I wear for my run?</h1>
        <button onclick="getLocation()">Find Me</button>

        <!-- placeholder for future string search -->
        <button onclick="getLocation()">Search by ZIP</button>
        <div id="output"></div>
        <div id="weatherOutput"></div>






        <!-- 
            -- TODO: temperature buttons, outfit recommendation, wardrobe options --            
        <h2>Temperature</h2>
        <div id="number-buttons">
        </div>
        <h2>What to Wear</h2>
        <div id="highlighted-items">
        </div>

        <div id="wardrobe">
        </div>
        -->

    </main>
    <footer>footer</footer>
</body>

</html>