<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Runwear: What to Wear Running in All Weather</title>
    <meta name="description"
        content="Find the right running outfit for every kind of weather, whether you're running in rain, snow, cold, or heat.">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='geo.js') }}" defer></script>

    <!-- Open Graph / Social Stuff -->
    <meta property="og:url" content="https://runwear.app">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Project Runwear: What to Wear Running in All Weather">
    <meta property="og:description"
        content="Project Runwear: Find the best running clothing for every kind of weather, whether you're running in rain, snow, cold, or heat.">
    <meta property="og:image" content="https://runwear.app/static/images/banner.png">
    <meta property="og:image:width"" content=" 1200">
    <meta property="og:image:height"" content=" 630">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@mlarson">
    <meta property="twitter:domain" content="runwear.app">
    <meta property="twitter:url" content="https://runwear.app">
    <meta name="twitter:title" content="Project Runwear: The best running clothes for all weather.">
    <meta name="twitter:description"
        content="Project Runwear: Find the best running clothing for every kind of weather, whether you're running in rain, snow, cold, or heat.">
    <meta name="twitter:image" content="https://runwear.app/static/images/banner.png">

</head>

<body>
    <header>
        <h1>What should I wear on my run?</h1>
    </header>
    <main>
        <section id="weatherDisplay">
            <h2>1. Get the weather...</h2>
            <button class="button" onclick="getLocation()">Find Me</button> or ↓
            <form onsubmit="getWeatherByZip(); return false;">
                <input type="text" id="zipInput" placeholder="Enter ZIP Code">
                <button type="submit" class="button">Get Weather by ZIP</button>
            </form>
        </section>
        <section id="weatherDisplay">
            <h2>2. Check the details...</h2>
            <div id="forecastSourceOutput"></div>
            <div id="latLongOutput"></div>
            <div id="forecastOutput">Supply your location to get the weather + outfit recommendation!</div>
        </section>
        <section id="clothingRecommendation">
            <h2>3. Consider this outfit!</h2>
            <div id="recommendationOutput"></div>
        </section>
    </main>
    <footer>
        <p><a href="/about">About</a></p>
        <p>&copy; Project Runwear 2024</p>
    </footer>
</body>

</html>